 .u-section-1 {
  background-image: none;
  min-height: 1141px;
}

.u-section-1 .u-image-1 {
  min-height: 862px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('./images/hero-banner_og.png');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 49px 230px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 271px 244px 0 0;
}

.u-section-1 .u-list-1 {
  width: 1141px;
  margin: -89px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 14.25px);
  grid-template-columns: repeat(4, calc(25% - 14.25px));
  min-height: 308px;
  
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 63px;
  width: 63px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.9375rem;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 63px;
  width: 63px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 17px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.9375rem;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 63px;
  width: 63px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 17px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.9375rem;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-size: auto;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 63px;
  width: 63px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 17px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.9375rem;
  font-style: normal;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 986px;
  }

  .u-section-1 .u-image-1 {
    min-height: 669px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 200px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 44px;
    width: 740px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: -83px;
    margin-bottom: 59px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 341px;
    grid-gap: 19px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1215px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    width: 660px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -133px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.5px);
    grid-template-columns: repeat(2, calc(50% - 9.5px));
    min-height: 619px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    background-position: 38.86% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 230px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1534px;
  }

  .u-section-1 .u-image-1 {
    min-height: 614px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 200px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 295px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -131px;
    margin-bottom: 59px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 992px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 538px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 45px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 0;
}

.u-section-2 .u-image-1 {
  width: 749px;
  height: 251px;
  margin: 18px auto 27px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 114px;
  }
} .u-section-3 {
  min-height: 1074px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 129px 200px 0;
}

.u-section-3 .u-shape-1 {
  height: 200px;
  margin: 127px auto 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 1140px;
  margin: -265px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 50%;
  grid-template-columns: repeat(2, 50%);
  min-height: 330px;
  grid-gap: 0px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-3 .u-image-1 {
  width: 229px;
  height: 229px;
  background-image: url("./images/5.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 257px;
  min-height: 246px;
  height: auto;
  margin: -229px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-3 .u-image-2 {
  width: 229px;
  height: 229px;
  background-image: url("./images/7.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 257px;
  min-height: 246px;
  height: auto;
  margin: -229px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

.u-section-3 .u-image-3 {
  height: 477px;
  margin-top: 10px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 958px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 272px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-image-1 {
    width: 183px;
    height: 183px;
  }

  .u-section-3 .u-group-1 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-image-2 {
    width: 183px;
    height: 183px;
  }

  .u-section-3 .u-group-2 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 79px;
    margin-right: 79px;
  }

  .u-section-3 .u-shape-1 {
    height: 800px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: -924px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 243px;
    height: 243px;
  }

  .u-section-3 .u-group-1 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    width: 243px;
    height: 243px;
  }

  .u-section-3 .u-group-2 {
    width: 397px;
    margin-top: -243px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-group-1 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-2 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-group-2 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 255px;
    height: 255px;
  }

  .u-section-3 .u-group-1 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-3 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 255px;
    height: 255px;
  }

  .u-section-3 .u-group-2 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-3 .u-social-icons-2 {
    margin-left: auto;
  }
}